PORT=YOUR_BE_PORT_NUMBER
NODE_ENV=development
FRONTEND_URL=http://localhost:YOUR_FE_PORT_NUMBER

JWT_SECRET=your_jwt_secret_here
ACCESS_TOKEN_EXPIRY=a_short_time
REFRESH_TOKEN_EXPIRY_DAYS=num_of_days

DATABASE_URL=your_postgresql_connection_pooling_url
DIRECT_URL=your_postgresql_direct_url